.form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-wrapper > input {
  background-color: #17181c;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #525252;
  padding: 1em 2em;
  width: 100%;
  outline: none;
}

.form-wrapper > input::placeholder {
  color: #fff;
}

.form-wrapper > i {
  color: #ccc;
  cursor: pointer;
  position: absolute;
  transition: 100ms;
  right: 40px;
}

.form-wrapper > i:last-child {
  right: 15px;
}

.form-wrapper > i:hover {
  color: #fff;
}

.form-wrapper > i.enabled {
  color: #556b2f;
}

.todo-list {
  margin: 10px 0;
}

.todo-item {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  border: 1px solid #525252;
  border-radius: 5px;
  padding: 5px;
  background-color: #1b1d22;
  transition: 250ms;
  text-decoration: line-through;
  text-decoration-color: transparent;
}

.todo-item:nth-child(even) {
  background-color: #1f2228;
}

.todo-item.completed {
  text-decoration-color: initial;
}

.todo-item > .fa-edit {
  color: #ccc;
  display: none;
  position: absolute;
  right: 10px;
}

.todo-item > .fa-edit:hover {
  color: #fff;
}

.todo-item > .fa-edit.display {
  display: block;
}

.todo-item input {
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  text-align: center;
  font-size: inherit;
}
